body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background: url('statuta.jpg');
    background-size: cover;
    background-position: center;
}

.center{
    
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: rgb(250, 243, 230);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #2a2929;
    border-radius: 10px;
    padding: 30px 40px;
    font-family: "Georgia" sans-serif;
}

.naslov{
    font-size: 50px;
    text-align: center;
}

.center label{
    font-family: "Poppins", sans-serif;
}
.center label1{
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgb(250, 243, 230) ;
  }
  
  .back-label {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .back-label:hover {
    text-decoration: underline;
  }
  
  .center button{
    justify-content: center;
    width: 110px;
    height: 45px;
    background: #0094de;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(247, 245, 245, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 450;
    
}
  
  .submit-button:hover {
    background-color: #0056b3;
  }